<!DOCTYPE html>
<script>
    $(function(){
        $("#${entityClass.className ? uncap_first}-form").bootstrapForm("load", {url: "${pageClass.baseUrl}/detail", data: BootstrapDialog.getDialog("${entityClass.className ? uncap_first}-dialog").options.data});
    });
</script>
<form id="${entityClass.className ? uncap_first}-form" class="form-horizontal">
    <#list entityClass.columns as column>
    <div class="form-group">
        <label class="col-lg-3 control-label">${column.remarks}</label>
        <div class="col-lg-5">
            <input type="text" class="form-control" name="${column.fieldName}" readonly/>
        </div>
    </div>
    </#list>
</form>
