<!DOCTYPE html>
<div class="easyui-layout" data-options="fit:true, border:false">
    <div data-options="region:'north',split:false" style="height:180px;padding:3px;">
        <form id="queryModel-template">
            <div style="margin-bottom:5px;">
                <input class="easyui-textbox" name="className" data-options="label:'类名', labelPosition:'top', required:true" style="width:100%;"/>
            </div>
            <div style="margin-bottom:5px;">
                <input class="easyui-textbox" name="packagePath" data-options="label:'包', labelPosition:'top', required:true" style="width:100%;"/>
            </div>
            <div style="margin-bottom:5px;">
                <input class="easyui-textbox" name="extendsClass" data-options="label:'继承类', labelPosition:'top'" style="width:100%;"/>
            </div>
        </form>
    </div>
    <div data-options="region:'center', title:'属性列表', split:false">
        <table id="queryModel-columns" class="easyui-datagrid" style="width:100%;" data-options="
        fit:true,
        border:false,
        columns:[[
            {field:'fieldName',title:'FieldName',width:100},
            {field:'columnClassName',title:'DataType',width:100},
            {field:'remarks',title:'Remarks',width:200},
            {field:'primaryKey',title:'PrimaryKey',width:100, formatter: function(value){
                if(value)
                    return value;
            }},
            {field:'autoIncrement',title:'AutoIncrement',width:100, formatter: function(value){
                if(value)
                    return value;
            }}
        ]]"></table>
    </div>
</div>