<!DOCTYPE html>
<div class="easyui-layout" data-options="fit:true, border:false">
    <form id="service-template">
        <div data-options="region:'north',split:false" style="padding:3px;height:180px;">
            <div style="margin-bottom:5px;">
                <input class="easyui-textbox" name="className" data-options="label:'类名', labelPosition:'top', required:true" style="width:100%;"/>
            </div>
            <div style="margin-bottom:5px;">
                <input class="easyui-textbox" name="packagePath" data-options="label:'包', labelPosition:'top', required:true" style="width:100%;"/>
            </div>
            <div style="margin-bottom:5px;">
                <input class="easyui-textbox" name="baseService" data-options="label:'继承类', labelPosition:'top', icons: [{
                    iconCls:'icon-clear',
                    handler: function(e){
                        $(e.data.target).textbox('setValue', '');
                        $('#service-get').switchbutton('check');
                        $('#service-save').switchbutton('check');
                        $('#service-update').switchbutton('check');
                        $('#service-sensitiveUpdate').switchbutton('check');
                        $('#service-updateByConditions').switchbutton('check');
                        $('#service-exists').switchbutton('check');
                        $('#service-findByPage').switchbutton('check');
                        $('#service-count').switchbutton('check');
                        $('#service-query').switchbutton('check');
                    }
                }]" style="width:100%;"/>
            </div>
        </div>
        <div data-options="title:'接口方法', region:'center',split:false" style="padding:3px;">
            <table>
                <tr>
                    <th style="text-align: right">get</th><td><input id="service-get" class="easyui-switchbutton" name="get" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">save</th><td><input id="service-save" class="easyui-switchbutton" name="save" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">update</th><td><input id="service-update" class="easyui-switchbutton" name="update" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">sensitiveUpdate</th><td><input id="service-sensitiveUpdate" class="easyui-switchbutton" name="sensitiveUpdate" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">exists</th><td><input id="service-exists" class="easyui-switchbutton" name="exists" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">findByPage</th><td><input id="service-findByPage" class="easyui-switchbutton" name="findByPage" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">count</th><td><input id="service-count" class="easyui-switchbutton" name="count" data-options="value:'true'"/></td>
                </tr>
                <tr>
                    <th style="text-align: right">query</th><td><input id="service-query" class="easyui-switchbutton" name="query" data-options="value:'true'"/></td>
                </tr>
            </table>
        </div>
    </form>
</div>